/* profile.css */

.container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  .sidebar {
    width: 250px;
    background-color: #363535;
    color: white;
    padding: 140px 20px;
    box-sizing: border-box;
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
  }
  
  .user-profile {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .user-list {
    list-style: none;
    padding: 0;
  }
  
  .user-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .action-buttons {
    display: flex;
  }
  
  .action-button {
    background: none;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #333; /* Change the color as desired */
  }
  
  .action-button:hover {
    color: red; /* Change the hover color as desired */
  }
  

/* Order.css */

/* Existing styles... */

/* Order.css */

/* Order.css */

.container-profile {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #363535;
  color: white;
  padding: 140px 20px;
  box-sizing: border-box;
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
}

.user-profile {
  width: calc(100% - 250px); /* Adjust width considering the sidebar width */
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}


.search-bar {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-left: auto; /* Move to the right side */
  margin-right: 100px; /* Add some margin on the right */
  margin-bottom: 20px;
  margin-top: 100px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

.search-bar button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
}

.search-bar button:hover {
  background: #0056b3;
}

